.main_content {
    border-radius: 5px;
    background-color:#ffffff;
    border-color: #dddddd;
    padding: 20px;
    max-width: 960px;
    flex: 1 0 auto;
    margin: auto;
    height: auto;
}

.img-fluid {
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
  }

h1 {
    color: #4aaaa5;
}
.navbar-brand{
    width: 300px;
    text-align: center;
}

